<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Cup and Handle Inverted</p>
</ion-header>


<ion-content>
  <div class="MainDivChart" style="height: 100%;">
    <p id="text">
      The Inverse Cup and Handle pattern, also referred to as the upside-down cup pattern, is a bearish 
      reversal pattern that appears during an uptrend. Technically, the price declines when a new high is
       formed, resulting in an <span>inverted cup shape</span> before reverting higher and creating a shape of the
        handle (also known as the saucer). However, while this pattern is straightforward, 
      you should be careful when entering a trade and use other tools to confirm the breakout. 
    </p>
    <img src="assets/cpHandleInverted.png" alt="" />
    <p id="text">
      Like other <span>trend reversal patterns</span>, false breakouts can occur during this pattern formation, so patience and extra confirmation are crucial when trading with 
      the inverted cup and handle pattern.
    </p>

  </div>
</ion-content>
