<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Rectangle Bottom</p>
</ion-header>


  <ion-content >
    <div class="MainDivChart" style="height: 100%;">
      <p id="text">
        The<span class="spanBlue"> rectangle</span> is a classical<span class="spanBlue"> technical analysis</span> pattern described by
         horizontal lines showing significant<span class="spanBlue"> support</span> and<span class="spanBlue"> resistance</span>. It can be successfully 
         traded by buying at support and selling at resistance or by waiting for a 
       <span class="spanBlue"> breakout</span> from the formation and using the  <span class="spanBlue"> measuring principle</span>.
      </p>
      <img src="assets/reactangleB.png" alt="" />
      <p id="text"> The rectangle ends when there is a breakout, and the price moves out of the rectangle.</p>
        <p id="text">Some traders like to trade the rectangles, buying near the bottom and selling or shorting near the top, while 
          others prefer to wait for breakouts.</p>
        
    </div>
  </ion-content>
