<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Rounding Top</p>
</ion-header>
<ion-content>
  <div class="MainDivChart">
    <p id="text">
      A rounding top is a chart pattern used in technical analysis identified by price movements that,
      when graphed, form the shape of an upside-down "U." Rounding tops are found at the end of extended
       upward trends and may signify a reversal in long-term price movements. As with all technical chart
        patterns, the rounding top pattern is not some infallible prediction device. It is a technical
         pattern suggesting that investors in the stock are weakening in their resolve to hold the stock 
         and may begin selling shares in larger numbers. This doesn't always happen. When the price fails 
         to follow through with a downward trend after the pattern has been  exhibited, it has been 
         observed to rebound from the support level and begin retracing higher prices.
    </p>
    <img src="assets/roundingT.png" alt="" />
    <p id="text">
      If a rounding top series chart does not lead to a reversal, then it may begin to head 
      back to previous highs. If at those highs it meets resistance again, it is likely to form a 
      <span class="spanBlue"> double top</span>. In a double top pattern, a security’s price will show 
      two consecutive upside-down U-shaped patterns.
    </p>

  </div>
</ion-content>

