<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px">Scoop Pattern</p>
</ion-header>

<ion-content>
  <div class="MainDivChart">
    <p id="text">
      Candlestick signals and patterns provide a huge advantage for investors.
      They allow investors to see what the next price move should be with a high
      degree of probability. This is merely the result of hundreds of years of
      witnessing price moves formed by reoccurring investor sentiment. Investor
      sentiment creates price patterns due to reacting the same way over and
      over during specific market conditions. Most investors panic sell at the
      bottom. This is reflected in candlestick charts. Most investors buy
      exuberantly at the top. This is also reflected in candlestick signals.
      These conditions put into a graphics allows an investor to see when
      emotions are setting up for a potential reversal in a price move. It is a
      simple dynamic that allows the candlestick investor to be prepared for
      high profit/high potential trades. Because investors react pretty much the
      same way during specific conditions of a price trend, a huge benefit is
      produced by the candlestick charts. It graphically reveals price movements
      that have resulted in predictable results. Not only are the signals the
      result of reoccurring investor sentiment but the accumulation of signals
      creates patterns that have highly predictable results. Obviously, these
      patterns became recognized because the results produced inordnant profits.
      All boats will rise in a rising tide.
    </p>
    <img src="assets/scoopImg.png" alt="" />
    <p id="text">
      Knowing there should be a strong price move coming out of a scoop pattern
      set-up allows for multiple option trade strategies. Aggressive strategies
      can be implemented with buying calls out-right or establishing an
      aggressive call spread. Because the pattern provides ample time to
      identify its set-up, the appropriate trade can be well-planned. Specific
      areas of the pattern allow for appropriate timing.
    </p>
  </div>
</ion-content>
