<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px">Bullish Flag</p>
</ion-header>

<ion-content>
  <div class="MainDivChart">
    <p id="text">
      Bullish <span class="spanBlue">flag</span> formations are found in stocks
      with strong uptrends and are considered good
      <span class="spanBlue">continuation patterns</span>. They are called bull
      flags because the pattern resembles a flag on a pole. The pole is the
      result of a vertical rise in a stock and the flag results from a period of
      <span class="spanBlue">consolidation</span>. The flag can be a horizontal
      <span class="spanBlue">rectangle</span> but is also often angled down away
      from the prevailing trend. Another variant is called a bullish
      <span class="spanBlue">pennant</span>, in which the consolidation takes
      the form of a <span class="spanBlue">symmetrical triangle</span>.
    </p>
    <img src="assets/bulsh.png" alt="" />
    <p id="text">
      The shape of the flag is not as important as the underlying psychology
      behind the pattern. Basically, despite a strong vertical rally, the stock
      refuses to drop appreciably, as bulls snap up any shares they can get.
    </p>
    <p id="text">
      refuses to drop appreciably, as bulls snap up any shares they can get. A
      flag pattern, in technical analysis, is a price chart characterized by a
      sharp countertrend (the flag) succeeding a short-lived trend (the flag
      pole).
    </p>
  </div>
</ion-content>
