<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px">Symmetrical Triangle</p>
</ion-header>

<ion-content>
  <div class="MainDivChart" style="height: 100%;">
    <p id="text">
      A symmetrical triangle is a
      <span class="spanBlue">chart pattern</span> characterized by two
      converging trend lines connecting a series of sequential
      <span class="spanBlue">peaks</span> and
      <span class="spanBlue">troughs</span> . These trend lines should be
      converging at a roughly equal slope. Trend lines that are converging at
      unequal slopes are referred to as a rising  <span class="spanBlue">wedge</span>, falling wedge, ascending
      triangle, or descending triangle.
    </p>
    <img src="assets/sam.png" alt="" />
    <p id="text">
      The breakout or breakdown targets for a symmetrical triangle is 
      equal to the distance between the initial high and low applied to the breakout or breakdown point.
    </p>
  </div>
</ion-content>
