<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Head and Shoulder Top</p>
</ion-header>
<ion-content >
  <div class="MainDivChart">
    <p id="text">
      The head and shoulders pattern is considered one of the most reliable trend reversal patterns. It is one of several top patterns that signal, with varying degrees of accuracy, that an upward trend is nearing its end.
The first and third peaks are the shoulders, and the second peak forms the head.
 <span>The line connecting the first and second troughs is called the neckline </span>.

    </p>
    <p id="text"> • A head and shoulders pattern is a technical indicator with a chart
      pattern of three peaks, where the outer two are close in height , and the
      middle is the highest.
    </p>
    <p id="text">  • The neckline rests at the support or resistance lines, depending on the
      pattern direction.
    </p>
    <img src="assets/head.jpg" alt="" />
    <p id="text"> 1. After long bullish trends, the price rises to a peak and subsequently
      declines to form a trough.</p>
      <p id="text">2. The price rises again to form a second highest
        substantially above the initial peak and declines again.</p>
      <p id="text">3.	The price rises a third time, but only to the first 
        peak level, before declining again.</p>
         <p class="headline" >What Does the Head and Shoulders Pattern Tell You?</p>
         <p id="text"> The pattern indicates that the new downward trend will likely continue until the right shoulder is 
          broken—where prices move higher than the prices at the right peak. </p>

  

  </div>
</ion-content>
