<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Cup and Handle</p>
</ion-header>


<ion-content>
  <div class="MainDivChart" style="height: 100%;">
    <p id="text">
      •	The cup and handle is considered a bullish signal, with the right-hand side of the pattern 
      typically experiencing lower trading volume. The pattern's formation may be as short as seven
       weeks or as long as 65 weeks. A cup and handle is a technical chart pattern that resembles 
      a cup and handle where the cup is in the shape of a "u" and the handle has a slight downward 
      drift.
    </p>
    <img src="assets/cpHandle.png" alt="" />
    <p id="text">
      •	A cup and handle is 
      considered a bullish signal extending an uptrend, and it is used to spot opportunities to go long.
    </p>

  </div>
</ion-content>
