<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Descending Triangle</p>
</ion-header>


<ion-content>
  <div class="MainDivChart" style="height: 100%;">
    <p id="text">
      •	Ascending triangles are considered a continuation pattern, as the price will typically break
       out of the triangle in the price direction prevailing 
      before the triangle, although this won't always occur. A breakout in any direction is noteworthy.
    </p>
    <img src="assets/dec.png" alt="" />
    <p id="text">
      The descending triangle is a chart pattern used in technical analysis. The pattern usually forms
       at the end of a downtrend but can also occur as a consolidation in an uptrend. A regular descending
        triangle pattern is commonly considered a bearish chart pattern with an established downtrend. 
        A descending triangle pattern, however, may be bullish, with a breakout in the opposite direction,
         known  as a reversal pattern.
    </p>

  </div>
</ion-content>
