<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px;">Head and Shoulder Bottom</p>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-content >
    <div class="MainDivChart" style="height: 100%;">
      <!-- <span>The line connecting the first and second troughs is called the neckline </span>. -->
      <p id="text">It is also called inverse Head and Shoulder</p>
      <img src="assets/headBottom.png" alt="" />
      <p id="text"> •	The price falls to a trough, then rises</p>
      <p id="text"> •	The price falls below the former trough, then rises again</p>
      <p id="text"> •	The price falls again but not as far as the second trough</p>
      <p id="text"> •	Once the final trough is made, the price heads 
        upward toward the resistance (the neckline)
         found near the top of the previous troughs.</p>

    <p id="text">An inverse head and shoulders pattern is also a reliable indicator, 
        signaling that a downward trend is about to reverse into an upward trend.
      </p>
    </div>
  </ion-content>
  
</ion-content>
