<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px">Rectangle Top</p>
</ion-header>
<ion-content>
  <div class="MainDivChart">
    <p id="text">
      A rectangle top pattern, also known as a bearish rectangle pattern or a
      horizontal channel top, is a bearish reversal pattern that appears at the
      end of an uptrend. It is characterized by a long bullish move, followed by
      a consolidation period, and then a bearish correction.
    </p>
    <p id="text">
      This pattern is
      formed when prices bounce between two horizontal trendlines, with the
      upper line acting as resistance and the lower line acting as support.
    </p>
    <img src="assets/reactanglet.png" alt="" />
    <p id="text">
      You can draw two parallel trendlines to connect the peaks and troughs of the consolidation range.
       This will create a rectangle formation or a box-like shape on a stock chart.
    </p>
    <p id="text">
      Prices moving sideways within this rectangular pattern 
      are a sign of indecision and weakness within the underlying uptrend.
    </p>
    <p id="text">
      The bulls and the bears will keep trading back and forth between the 
      support and resistance lines until a breakout occurs.
    </p>
  </div>
</ion-content>
