<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline"  [routerLink]="['/home']"></ion-icon>
  <p>Pattern learing</p>
</ion-header>

<ion-content>
  <div class="MainDivChart" style="height: 100%;">
  <p id="text">
    <!-- {{des}} -->
    Technical chart patterns are one of the most effective methodologies in the universe of technical analysis .
Technical chart patterns are the  distinctive formation created by the movement of security prices.these pattern are repeating themselves over the period of time creating highly profitable  opportunities to buy or sell.
Chart patterns are highly important trading tool,every trader from beginner to professional can utilize  in their technical analysis strategy. They can be use to analyse all securities like forex share commedities etc.
Chart patterns when formed they help trader predetermine price action such as breakout and reversals. Understanding that chart patterns  will tremendously improve your technical analysis skill.
        Hence it is important to familiarize yourself with different type of chart patterns.
  </p>
</div>
</ion-content>
