<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px">Cradle Pattern</p>
</ion-header>

<ion-content>
  <div class="MainDivChart" style="height: 100%;">
    <p id="text">
      The Cradle Candlestick pattern is a reversal indicator used to pinpoint
      potential buying and selling opportunities in the market. It is a strong
      tool that assists traders in making knowledgeable decisions about when to
      initiate or close a trade.
    </p>
    <img src="assets/cradleImg.png" alt="" />
    <p id="text">
      • The pattern is formed when the market is in a bearish trend and the
      second candle is followed by a bullish candle.
    </p>
  </div>
</ion-content>
