<ion-header class="AppHeader">
  <ion-icon
    name="arrow-back-outline"
    [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p>Double Top</p>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="MainDivChart">
    <p class="fText">A double top is an extremely bearish technical reversal pattern that   
      forms after an asset reaches a high price two consecutive times with a 
      moderate decline between the two highs. It is confirmed once the asset's 
      price falls below a <span style="color: rgb(32, 32, 225);">support level</span> equal to the low between the two prior 
      highs.
</p>
       <img src="assets/dt1.png" alt="">
    <h1 class="headline">KEY TAKEAWAYS :</h1>
    <p class="dotPoint">• A double top is a bearish technical reversal pattern.</p>
    <p class="dotPoint">•	It is not always easy to spot because there needs to be a 
      confirmation with a break below support.</p>
    <p class="dotPoint">•	While a double top is a bearish signal, a double bottom is a bullish signal.</p>
    <p class="dotPoint">•	Top tops usually have an upswing, initial peak, trough, second peak, and neckline.</p>
    <p class="dotPoint">•	Investors can short trade after the break or place small trades, as double tops
       may have limited profit potential.</p>
  </div>
  </ion-content>
  <!-- <div class="MainDivChart">
    <p class="fText">A double bottom pattern is a classic technical analysis charting formation that represents a major change in trend and a
       momentum reversal from a prior down move in market trading.</p>
       <img src="assets/dt1.png" alt="">
       <p class="fText">The double bottom 
        looks like the letter "W." The twice-touched low is now considered a significant support level. While those two lows hold, the upside has new potential. In terms of profit targets, a conservative reading of the pattern suggests the minimum-move price target is equal to the distance of the two lows and the intermediate high. More aggressive targets are double the distance between the two lows and the intermediate high. Once the closing price is in the second rebound and is approaching the high of the first rebound of the pattern (in other words, the middle of the "W"), a noticeable expansion in volume is coupled with 
        fundamentals that indicate market conditions are conducive to a reversal.</p>
        <span class="spanText">Two Bottoms of the Lows in the Double Bottom Pattern Be the Same?
  </span>
  <p class="fText">No, there is room to play with the relative levels 
    of the lows, though they should be within 3% to 4% of each other. In fact, if you think about 
    it, a higher second bottom suggests the selling pressure came to an earlier end, indicating the low of the first bottom is a potentially highly significant support level.</p>
    <h1 class="headline">Overall Interpretation of a Double Bottom:</h1>
    <p class="fText"> A double bottom is suggestive of a change in direction higher and      
      possibly the start of a new uptrend. To put it in buyers/sellers terms,  
      the sellers have created a downtrend that came to a low point 
      (support), which led to a rebound or short-covering.
  </p>
  </div> -->