.fText{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
     text-align: left;
    margin-top: 10px;
    color: black;
    margin-bottom: 10px;
}
img{
    width: 83%;
    object-fit: contain;
}
.spanText{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
     text-align: left;
    margin-top: 10px;
    color: rgb(184, 2, 2);
    font-weight: 700;
}
.headline{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
     text-align: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.dotPoint{
    margin: 0px;
    font-size: 17px;
    margin-top: 10px;
}