<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline" [routerLink]="['/chart-patterns']"></ion-icon>
  <p style="margin: 0px;">Ascending Triangle</p>
</ion-header>

<ion-content>
  <div class="MainDivChart" style="height: 100%;
  display: flex;
  justify-content: flex-start; ">
    <p id="text">
    
      An ascending triangle is a chart pattern used in <span class="spanBlue" >technical analysis</span>. It is created by price moves 
      that allow for a horizontal line to be drawn along the <span class="spanBlue" >swing highs</span>and a rising trendline to be 
      drawn along the swing lows. The two lines form a triangle. Traders  often watch for <span class="spanBlue" >breakouts</span>
       from triangle patterns. The breakout can occur to the upside or downside.
    </p>
    <img src="assets/acc.png" alt="" />
    <p id="text">
      Ascending triangles are considered a continuation pattern, as the price will typically break out of the triangle in the price direction prevailing 
      before the triangle, although this won't always occur. A breakout in any direction is noteworthy.
    </p>

  </div>
</ion-content>
