
<ion-header class="AppHeader">
  <ion-icon name="arrow-back-outline"  [routerLink]="['/chart-patterns']"
  ></ion-icon>
  <p style="margin: 0px;">Rounding Bottom</p>
</ion-header>
<ion-content>
  <div class="secDiv">
  <div class="MainDivChart" style="height: 100%;">
    <p id="text">
      A rounding bottom is a chart pattern used in technical analysis and is
       identified by a series of price movements that graphically form the shape of a "U". Rounding bottoms are found at the end of extended downward trends and signify a reversal in long-term price movements. This pattern's time frame can vary from several weeks to
       several months and is deemed by many traders as a rare occurrence. 
    </p>
    <img src="assets/roundingB.png" alt="" />
    <p id="text">
      YA rounding bottom looks similar to the cup and handle pattern, but does not experience the temporary downward trend of the "handle" portion. The initial declining slope of a rounding bottom indicates an excess of supply, which forces the stock price down. The transfer to an upward trend occurs when buyers enter the market at a low price, which increases demand for the stock. Once the rounding bottom is complete, 
      the stock breaks out and will continue in its new upward trend. 
    </p>
  </div>
</div>
</ion-content>
