.fText{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
     text-align: left;
    margin-top: 10px;
    color: black;
}
.spanText{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
     text-align: left;
    margin-top: 10px;
    color: rgb(184, 2, 2);
    font-weight: 700;
}
.headline{
    font-size: 19px;
    font-family: sans-serif;
    margin: 0px;
     text-align: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}